body {
  background-color: #eae9ea;
}
.container-fluid {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-center {
  opacity: 0.55;
  width: 75%;
  height: 40%;
  border-radius: 5%;
}
.quote {
  font-family: Titillium Web;
  margin: 55px;
  font-size: 22px;
  color: #5d5a5a;
}
.fancy-name {
  font-family: Lobster;
}
ul {
  font-size: 18px;
}
.centered-awards{
   width: 60%;
  margin: auto;
}
.indentation{
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  text-indent: 5%;
  font-family: Poppins;
  font-size: 18px;
}
.timeline p{
  font-size: 20px;
  text-decoration: underline;
}
.timeline li{
  font-weight: 600;
}
a:visited {
  color: #430485;
}
a:hover {
  background-color: #97949a;
}

